name: CD (Deployment)

on:
  push:
    branches: [ main ]

jobs:
  Download-and-Deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Test Coverage Artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage-artifact
          path: ./sites
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id || github.run_id }} 
          workflow: CI
          
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        
